nav {
  display: flex;
  background-image: linear-gradient(rgb(171, 73, 216), cadetblue);
  height: 8vh;
  align-items: center;
  font-size: 1.5rem;
  border-bottom: 0.5vh solid rgb(212, 58, 38);
}

nav > * {
  margin-left: 2vw;
  cursor: pointer;
}

nav > * > * {
  text-decoration: none;
  font-weight: bold;
  color: rgb(115, 255, 176);
}
